<section>
  <h2>Create a New Post</h2>

    <div class='tab'>
        <button class="newpost" onclick="openForm(event, 'NewPost')">New Post</button>
    </div>
    <div id="NewPost" class="new-post-container">
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text">Text</label>
      <input type="text" id="post-text" name="post-text" />
    </div>
    <button type="submit" class="btn">Post!</button>
  </form>
  </div>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>