<main class='card'>
  <div class="center-form">
    <div class='tab'>
        <button class="tablinks" onclick="openForm(event, 'Login')">Login</button>
        <button class="tablinks" onclick="openForm(event, 'SignUp')">Sign Up</button>
    </div>

  <div id="Login" class="tabcontent">
    <form class="login-form grow1">
      <div>
        <label class="user-input-label" for="username-login">Username:</label>
        <input class="user-input" type="text" id="username-login" />
      </div>
      <div>
        <label class="user-input-label" for="password-login">Password:</label>
        <input class="user-input" type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>

  <div id="SignUp" class="tabcontent">
    <form class="signup-form grow1">
      <div>
        <label class="user-input-label" for="username-signup">Username:</label>
        <input class="user-input" type="text" id="username-signup" />
      </div>
      <div>
        <label class="user-input-label" for="password-signup">Password:</label>
        <input class="user-input" type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
    </div>
  </div>
</main>

<script src="/javascript/login.js"></script>