:root {
  --primary-color: #0c1f15;
  --secondary-color: rgb(86, 233, 56);
  --tertiary-color: rgb(53, 208, 255);
  --post-color: rgb(199, 241, 222);
  --main-background: rgb(185, 250, 210);
  --button-color: rgb(66, 212, 37);
  --hover-button-color: rgb(112, 243, 86);
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background-color: var(--main-background);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  background-color: var(--button-color);
  border: 0;
  padding: 1%;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  min-width: 80px;
  min-height: 40px;
  border: 2px solid black;
}

button:hover {
  background-color: var(--hover-button-color);
}

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: var(--secondary-color);
  width: 100%;

}

header h1 {
  font-size: 3em;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.nav-link {
  font-size: 1.75em;
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}


.nav-link:hover {
  border: 2px solid black;
  border-radius: 20px;
  background-color: inherit;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  
  margin-bottom: 2%;
  line-height: 150%;
  align-content: space-between;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  padding: -5px -10px;
  border: 2px solid black;
}

.title h3 {
  padding-left: 10px;
  font-size: 25px;
}

.title span {
  padding: 10px;
  margin-top: 10px;
}

.title p {
  border: 2px solid black;
  display: flex;
  margin: auto;
  min-height: 50px;
  padding: 5px;
  background-color: var(--post-color);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  background-color: var(--secondary-color);
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-top: none;
  align-content: center;
  background-color: rgb(236, 233, 229);
  justify-content: center;
  padding-left: 100px;
  max-width: 400px;
}


.tablinks { 
  padding: 10px;
  font-size: 1.5em;
}

.tabcontent {
  display: none;
  padding-left: 20px;
  padding-bottom: 30px;
} 

.user-input-label {
  padding: 5px;
  font-size: 1em;
}

.user-input {
  min-height: 30px;
  padding-bottom: 10px;
}

.new-post-container {
  display: none;
} 